.uploadedPage {
  position: relative;
  display: flex;

  flex: 1;

  canvas {
    width: 100%;
    min-width: 250px;
  }

  .pageSettings {
    display: flex;
    flex-direction: column;

    * {
      padding: 15px;
      
      user-select: none;
      cursor: pointer;
    }

    .deleteImage {
      color: $on-error-color;
      background-color: $error-color;
    }

    *:not(.deleteImage) {
      color: $on-surface-color;
      border-bottom: 1px solid rgba($on-surface-color, 0.5);
    }
  }
}