.uploadedPage {
  position: relative;
  display: flex;

  margin: 0 10px 10px 10px;
  border-radius: 4px;
  overflow: hidden;

  canvas {
    flex: 1;
    min-width: 250px;
  }

  .pageSettings {
    position: absolute;
    bottom: 10px;
    right: 10px;

    display: flex;
    flex-direction: column;

    background-color: rgba($surface-color, 0.5);
    border-radius: 4px;
    overflow: hidden;

    * {
      padding: 15px;
      
      font-size: 1.5rem;
      color: $on-surface-color;

      user-select: none;
      cursor: pointer;

      &[data-active="true"] {
        color: $on-accent-color;
        background-color: $accent-color;
      }
    }

    .deleteImage {
      color: $on-error-color;
      background-color: $error-color;
    }

    *:not(:last-child):not(:first-child) {
      border-top: 1px solid rgba($on-surface-color, 0.5);
    }
  }
}