.card {
  width: fit-content;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin: auto;
  padding: 20px 50px;

  border-radius: 8px;
  background-color: $surface-color;
  box-shadow: 0 0 8px $overlay-color;
}

.email {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.error {
  color: red;
}