#navbar {
  display: flex;
  
  #logo {
    display: flex;
    flex-direction: column;

    margin: 20px;
    user-select: none;
    text-decoration: none;

    #logoBig {
      color: $accent-color;
      margin: 0;
    }

    #logoSmall {
      color: $on-surface-color;
      margin: 0;
    }
  }

  #links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

    a {
      font-size: 1.25rem;
      margin: 5px 10px;

      text-decoration: none;
      color: $on-surface-color;
    }
  }

  #account {
    user-select: none;
    
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: 20px;

    #login button {
      padding: 7.5px 15px;
      font-size: 1.1rem;
      font-weight: 600;
    }
    
    #user {
      position:relative;
      display: grid;
      align-content: center;

      padding: 10px;
      border-radius: 8px;
      transition: background-color 0.15s ease-in-out;

      #userDetails {
        display: flex;
        direction: row;
        align-items: center;
        justify-content: center;
      }

      #avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }

      #balance {
        display: flex;
        align-items: center;

        #coin {
          width: 15px;
          height: 15px;
          margin-left: 2.5px;
        }
      }

      #dropdown {
        position: absolute;
        width: 100%;
        bottom: calc(-100% - 37.5px);
        padding-top: 10px;

        background-color: $surface-color-hover;
        border-radius: 0 0 8px 8px;

        visibility: hidden;
        pointer-events: none;

        transform: scaleY(0);
        transform-origin: top;
        transition: all 0.15s ease-in-out;

        &.expanded {
          visibility: visible;
          pointer-events: initial;
          transform: scaleY(1);
        }

        .dropdownItem {
          display: flex;
          direction: row;
          align-items: center;
          justify-content: space-between;

          text-decoration: none;
          color: $on-surface-color;

          margin: 5px;
          padding: 10px;
          border-radius: 8px;
          transition: background-color 0.15s ease-in-out;

          &:hover {
            background-color: $accent-color;
          }

          .icon {
            width: 20px;
            height: 20px;
            margin-left: 10px;
          }
        }
      }

      #account-dropdown-arrow {
        margin-left: 10px;
        transform: rotate(0);
        transition: transform 0.15s ease-in-out;

        &:has(~ .expanded) {
          transform: rotate(180deg);
        }
      }

      &:hover, &:has(.expanded) {
        background-color: $surface-color-hover;
      }
    }
  }
}