.uploadContainer {
  display: flex;
  flex-wrap: wrap-reverse;

  width: 100%;
  min-height: min-content;
  padding-bottom: 100px;
}

.uploadDetailsContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: min(400px, 90%);

  margin: 10px;
  padding: 10px;

  input {
    position: relative;
    margin: 5px 0;
    padding: 10px;

    border: 1px solid rgba($on-surface-color, 0.2);
    border-radius: 8px;

    &#topic {
      width: 90%;
      font-size: 2.5rem;
    }

    &#subject {
      width: 50%;
      font-size: 1.5rem;
    }

    &#teacher {
      width: 15%;
      font-size: 1.5rem;
    }
    
    &#class {
      width: 15%;
      font-size: 1.5rem;
    }
    
    &#issueYear {
      width: 20%;
      font-size: 1.5rem;
    }
  }
}

.uploadImagesContainer {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-width: 300px;
  height: min-content;
  margin: 10px;

  border: 1px solid rgba($on-surface-color, 0.2);
  border-radius: 8px;
  box-shadow: rgba($on-surface-color, 0.2) 0px 0.125em 0.5em;

  overflow: hidden;

  .uploadedPage {
    position: relative;
    display: flex;

    flex: 1;

    img {
      width: 100%;
      min-width: 250px;
    }

    .pageSettings {
      display: flex;
      flex-direction: column;

      * {
        padding: 15px;
        
        user-select: none;
        cursor: pointer;
      }

      .deleteImage {
        color: $on-error-color;
        background-color: $error-color;
      }

      .moveImage {
        color: $on-accent-color;
        background-color: $accent-color;
      }
    }
  }

  .uploadNewPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    aspect-ratio: 2/3;
    user-select: none;

    * {
      cursor: pointer;
    }

    span {
      font-size: 4rem;
    }

    label {
      font-size: 1.1rem;
    }

    input {
      display: none;
    }
  }
}

#uploadButton {
  position: fixed;
  bottom: 0;
  right: 0;

  display: inline-flex;
  align-items: center;

  margin: 50px;
  padding: 10px 15px;

  border-radius: 8px;
  box-shadow: rgba($accent-color, 0.6) 0px 0.125em 0.5em;

  font-size: 2rem;
  font-weight: 600;
  color: $on-accent-color;
  background-color: $accent-color;

  #creditReward {
    display: inline-flex;
    align-items: center;

    margin-left: 10px;
    color: $surface-color;
    
    img {
      width: 25px;
      height: 25px;
      margin-left: 5px;
    }
  }
}